﻿@using Dbsoft.Epm.Web.Controllers.Reporting
@using DBSoft.EPMWeb.Models.Reporting
@using Newtonsoft.Json
@model Dbsoft.Epm.Web.Controllers.Reporting.MarketResearchModel

@{
    ViewBag.Title = "Market Research";
}

<div ng-app="app"
     ng-controller="marketResearchController"
     ng-cloak
     id="marketResearch">
    <h3 class="inline-block">Market Research</h3>
    <a href="@MarketResearchModel.HelpUrl" target="_blank">
        <img src="~/images/info.jpg" alt="Help" class="info-icon" />
    </a>
    <h4 ng-visible="@string.IsNullOrWhiteSpace(Model.ReasonDisabled)">@Model.ReasonDisabled</h4>
    <span>Show Mine</span>
    <input type="checkbox" ng-model="model.showMine" />
    <span>Show Outliers</span>
    <input type="checkbox" ng-model="model.showOutliers" />
    <table class="table table-striped table-bordered table-condensed">
        <tbody>
            <tr>
                <th class="display-text">Item</th>
                <th class="display-numeric">Isk Per Hour</th>
                <th class="display-numeric">Margin</th>
                <th class="display-numeric">Markup</th>
                <th class="display-numeric">Volume</th>
                <th class="display-numeric">Competitors</th>
                <th class="display-numeric">Profit Factor</th>
            </tr>
            <tr ng-repeat="result in model.Detail | showItems:model">
                <td>{{result.ItemName}}</td>
                <td class="display-numeric">{{result.IskPerHour | number:0}}</td>
                <td class="display-numeric">{{result.Margin | number:0}}</td>
                <td class="display-numeric">{{result.Markup | number:1}}</td>
                <td class="display-numeric">{{result.Volume | number:1}}</td>
                <td class="display-numeric">{{result.Competitors | number:0}}</td>
                <td class="display-numeric">{{result.ProfitFactor | number:-2 }}</td>
            </tr>
        </tbody>
    </table>
</div>


<script type="text/javascript">
    var marketResearchModel =
        @Html.Raw(
        JsonConvert.SerializeObject(Model,
                                    Formatting.Indented,
                                                         new JsonSerializerSettings { NullValueHandling = NullValueHandling.Ignore }));
</script>

@section ScriptBlock {
    <script src="@Url.Content("~/app/Reporting/marketResearchController.js")" type="text/javascript"></script>
}
