﻿@using DBSoft.EPMWeb.Models.Reporting
@model ItemCostTrendModel
@{
    ViewBag.Title = "Item Trends";
}

<h3 class="header">Item Cost Trends</h3><a href="@ItemCostTrendModel.HelpUrl" target="_blank"><img src="~/Content/info.jpg" alt="Help" class="info-icon" /></a>
@Html.Raw(Model.TableHtml)