﻿@using Newtonsoft.Json
@model DBSoft.EPMWeb.Models.Reporting.ItemSaleModel
@{
    ViewBag.Title = "Item Sales";
}

<div ng-app="app"
     ng-controller="itemSalesController"
     ng-cloak
     id="marketResearch">
    <h3>Item Sales</h3>
    <span>From</span><input ui-date ng-model="model.FromDate" name="FromDate" class="date-picker date" />
    <span>To</span><input ui-date ng-model="model.ToDate" name="ToDate" class="date-picker date"/>
    <button ng-click="refresh()">Refresh</button>
    @Html.Raw(Model.TableHtml)
</div>

<script type="text/javascript">
    var model =
        @Html.Raw(
        JsonConvert.SerializeObject(Model,
                                    Formatting.Indented,
                                                         new JsonSerializerSettings { NullValueHandling = NullValueHandling.Ignore }));
</script>

@section ScriptBlock {
    <script src="@Url.Content("~/app/Reporting/itemSalesController.js")" type="text/javascript"></script>
}