﻿@using DBSoft.EPMWeb.Models.Production
@model UpdateSellOrderModel

@{
	ViewBag.Title = "Update Sell Orders";
}

<h3 class="header">Update Sell Orders</h3><a href="@UpdateSellOrderModel.HelpUrl" target="_blank"><img src="~/Content/info.jpg" alt="Help" class="info-icon"/></a>
@Html.Raw(Model.TableHtml)
