﻿@model DBSoft.EPMWeb.Models.Reporting.MaterialItemModel

@{
    ViewBag.Title = "MaterialItem";
    Layout = "~/Views/Production/_ProductionLayout.cshtml";
}

<script src="@Url.Content("~/Scripts/libs/jquery/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/libs/jquery/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Material Item</legend>

        @Html.HiddenFor(model => model.ItemID)
        @Html.HiddenFor(model => model.ReturnUrl)
        <div class="editor-label">@Html.LabelFor(model => model.ItemName)</div>
        <div class="editor-field">@Html.DisplayFor(model => model.ItemName)</div>
        <div class="editor-label">@Html.LabelFor(model => model.BounceFactor)</div>
        <div class="editor-field">@Html.EditorFor(model => model.BounceFactor)</div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    <a href="@Model.ReturnUrl">Return to list</a>
</div>
