﻿@using DBSoft.EPMWeb.Models.Production
@model PostBuyOrderModel

@{
    ViewBag.Title = "Post Buy Orders";
}

<h3 class="header">Post Buy Orders</h3><a href="@PostBuyOrderModel.HelpUrl" target="_blank"><img src="~/Content/info.jpg" alt="Help" class="info-icon"/></a>

@Html.Raw(Model.TableHtml)
