﻿@model DBSoft.EPMWeb.Models.Account.AccountLoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
    @using (Html.BeginForm())
    {
<p class="error">@ViewBag.Error</p>
<fieldset>
    <h5>
        <span>Click on this link to authenticate with EVE Online and select your character.</span>
    </h5>
    <input type="image" src="~/Content/EVE_SSO_Login_Buttons_Large_Black.png" />

</fieldset>
    }

